<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Rutina de ChamaFit</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>mauri.chamafit.routine</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Mauri.FitnessApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chamafit-spotify</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSHealthShareUsageDescription</key>
	<string>ChamaFit lee tu ritmo cardíaco y las calorías del entrenamiento que registra el Apple Watch.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>ChamaFit guarda cada sesión como entrenamiento de fuerza en Salud.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<false/>
	<key>SpotifyClientID</key>
	<string>8b16bbe7e91f4629b136a75ed9027890</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchLogo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Rutina de ChamaFit</string>
			<key>UTTypeIdentifier</key>
			<string>mauri.chamafit.routine</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>chamafit</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-chamafit-routine</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
